.option {
  background-color: #00ad8e;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}

.option:hover {
  opacity: 1;
}

.option p {
  margin-bottom: 0;
  color: #ffffff;
}

.correct {
  background-color: #0bfc03;
  font-weight: bold;
}

.wrong {
  background-color: #ff5555;
  font-weight: bold;
}

.hide {
  display: none;
}

/* Mobile */
@media (max-width: 600px) {
  .option {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

/* Tablet (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .option {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

/* TVs (a partir de 1920px) */
@media (min-width: 1920px) {
  .option {
    padding: 1.5rem;
    font-size: 1.1rem;
  }
}
