html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.App {
  /* Ocupar toda a tela e centralizar vertical/horizontalmente */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* centralizar texto */
  text-align: center;
}

.App h1 {
  margin-bottom: 2rem;
}

/* Tablet (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .App h1 {
    font-size: 1.8rem;
  }
}

/* TVs ou telas muito grandes (a partir de 1920px) */
@media (min-width: 1920px) {
  .App h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
