* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #00ad8e;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #00ad8e;
}

img {
  max-width: 100%;
}



button {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgb(0, 119, 74) 0%,
    rgb(0, 66, 61) 100%
  );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(0, 65, 25) 0%,
    rgb(0, 92, 66) 100%
  );
}